#https://vsupalov.com/docker-arg-env-variable-guide/
#https://medium.com/vteam/configure-docker-project-for-different-environments-using-docker-compose-3-bfbef37d951c
#https://medium.com/softonic-eng/docker-compose-from-development-to-production-88000124a57c
#https://stackoverflow.com/a/48651071
#https://github.com/docker/compose/issues/6170

# production, staging, develop, etc.
ENV=develop

NGINX_NAME=nginx
NGINX_TAG=latest
NGINX_HTTP_PORT=80
NGINX_HTTPS_PORT=443

#https://jtreminio.com/blog/running-docker-containers-as-current-host-user/
USER_ID=
GROUP_ID=
